
<div class="field" data-id="{{element.id}}">
    <div class="dropdown">
        <button>+</button>
        <div class="dropdown-content">
            <a class="choose-text-href" data-new-field-type="text" data-id="{{element.id}}">Текст</a>
            <a class="choose-img-href" data-new-field-type="image" data-id="{{element.id}}">Картинка</a>
        </div>
    </div>
    <div class="div-input {{element.textStyle}}" data-id="{{element.id}}"  contenteditable="true" data-gramm="false"  data-placeholder="Выберите элемент..."></div>
</div>