<div class="form">
  <form novalidate="" action="post"></form>
    <div class="fields">
      {{#each inputs}}
        <div class="input">
          <div class="input-text">
            {{inputLabel}}
          </div>

          <div class="input-field">
            <input type="{{fieldType}}" name="{{fieldName}}" placeholder="{{placeholder}}" class="input-field__{{state}}" required="" minlength="{{minLength}}" pattern="{{pattern}}">
          </div>
        </div>
        <button type="submit" class="submit-btn">{{submitActionName}}</button>
      {{/each}}
    </div>
  </form>
</div>