<div class="settings">
  <div class="settings-header">
    Настройки
  </div>
  <div class="settings-body">
    <div class="settings-body__blog">
      <div class="settings-body__blog__header">
        Блог
      </div>
      <div class="settings-body__blog__body">
        <form action="" method="post">
          <label class="label-hint" for="name-input">Название</label>
          {{#if context.isNameCorrect}}
            <input class="input-correct" id="name-input" type="text" placeholder="Введите название">
          {{else}}
            <input class="input-error" id="name-input" type="text" placeholder="Введите название">
            <label class="label-error" for="name-input">Некорректное название</label>
          {{/if}}
          <label class="label-hint" for="description-input">Описание</label>
          {{#if context.isDescriptionCorrect}}
            <textarea id="description-input" class="textarea-correct" placeholder="Пара слов о себе"></textarea>
          {{else}}
            <textarea name="" id="description-input" class="textarea-error" placeholder="Пара слов о себе"></textarea>
            <label class="label-error" for="name-description">Некорректное описание</label>
          {{/if}}
        </form>
      </div>
    </div>
    <div class="settings-body__feed">
      <div class="settings-body__feed__header">
        Ленты
      </div>
      <div class="settings-body__feed__body">
        <form action="" method="post">
          <label for="">Главная по умолчанию</label>
          <select>
            {{#with context}}
              <option value="{{context}}"></option>
            {{/with}}
          </select>
        </form>
      </div>
    </div>
    <div class="settings-body__main">
      <div class="settings-body__main__header">
        Основные
      </div>
      <div class="settings-body__main__body">
        <div class="email-setting">
          <label for="">Почта</label>
          <span>{{user.email}}</span>
          <a href="">Изменить</a>
        </div>
        <div class="password-setting">
          <label for="">Пароль</label>
          <span>{{user.password.length}}</span>
          <a href="">Изменить</a>
        </div>
      </div>
    </div>
  </div>
</div>