<div class="settings">
  <div class="settings-header">
    Настройки
  </div>
  <div class="settings-body">
    <div class="settings-body__blog">
      <div class="settings-body__header">
        Блог
        <div class="settings-body__header__subheader">
          Название, описание
        </div>
      </div>
      <form action="" method="post" id="name-description-form">
        <div class="settings-body__body">
          <div class="form-frame">
            <label class="" for="name-input">Название</label><br>
            {{#if context.isNameCorrect}}
            <input class="input-correct" id="name-input" type="text" placeholder="Введите название">
            {{else}}
            <input class="input-error" id="name-input" type="text" placeholder="Введите название"><br>
            <label class="" for="name-input">Некорректное название</label>
            {{/if}}
            <div class="input-counter">
            </div>
          </div>
          <div class="form-frame block-right">
            <label class="" for="description-input">Описание</label><br>
            {{#if context.isDescriptionCorrect}}
            <textarea id="description-input" class="textarea-correct" placeholder="Пара слов о себе"></textarea>
            {{else}}
            <textarea name="" id="description-input" class="textarea-error" placeholder="Пара слов о себе"></textarea><br>
            <label class="" for="name-description">Некорректное описание</label>
            {{/if}}
          </div>
        </div>
        <a href="" class="link-confirm" name="name-description-save">Сохранить</a>
      </form>
    </div>
    <div class="settings-body__feed">
      <div class="settings-body__header">
        Ленты
        <div class="settings-body__header__subheader">
          Настройки лент, Фильтрация, Заблокированные
        </div>
      </div>
      <div class="settings-body__body">
        <form action="" method="post">
          <div class="feed-setting">
            <label for="">Главная по умолчанию</label><br>
            <select>
              {{#with context}}
                <option value="{{context}}"></option>
              {{/with}}
            </select>
          </div>
          <div class="feed-setting">
            <label for="">Сортировка "Моей ленты"</label><br>
            <select>
              {{#with context}}
                <option value="{{context}}"></option>
              {{/with}}
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="settings-body__main">
      <div class="settings-body__header">
        Основные
        <div class="settings-body__header__subheader">
          Способы входа
        </div>
      </div>
      <div class="settings-body__body">
        <div class="form-frame">
          <label for="">Почта</label><br>
          <span>{{user.email}}</span><br>
          <a href="" class="link-confirm">Изменить</a>
        </div>
        <div class="form-frame">
          <label for="">Пароль</label><br>
          <span>
            {{#each (split user.password)}}
            *
            {{/each}}
          </span><br>
          <a href="" class="link-confirm">Изменить</a>
        </div>
      </div>
    </div>
  </div>
</div>